DATABASE_URL="mysql://root:root@db:3306/cole_db_v3?connection_limit=20&pool_timeout=20"
JWT_SECRET="super_secret_key"
PORT=3000
API_PORT=3003
DB_PORT=3312
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=cole_db_v3
